In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import tensorflow as tf

In [2]:
data_path = '../Data/full dataset'
data_path_1000 = '../Data/Dataset 1000'
data_path_200 = '../Data/Dataset 200'
data_path_800 = '../Data/Dataset 800'
val_data_path = '../Data/validation dataset'
figures_output_path = '../Outputs/figures'
csv_outputs ='../Outputs/csv'
models_path ='../Models/'

In [5]:
model = tf.keras.models.load_model(os.path.join(models_path, 'Resnet18.h5'),compile=False)

In [7]:
model.history

In [3]:
os.listdir(csv_outputs)

[]

In [4]:
df = pd.DataFrame([1,2,3,])

In [5]:
df

   0
0  1
1  2
2  3

In [6]:
df.index = df.index+5

In [7]:
df

   0
5  1
6  2
7  3